bazel-bin
bazel-c_login
bazel-genfiles
bazel-login_back_grpc_bazel_docker
bazel-out
bazel-testlogs
external
.vscode
*.log
idea/
.ideaDataSources/
*.iml
*.ipr
*.iws
out/

.vscode
.classpath
.project
.settings
bin

cmake-build-debug
CMakeFiles
CMakeCache.txt
c_login.cbp
cmake_install.cmake